<?xml version="1.0"?>
<plugin
	name="boojay Hello World Example"
	id="HelloWorldPlugin"
	version="0.0.0"
	provider-name="boojay">
	
	<requires>
		<import plugin="org.eclipse.core.resources"/>
		<import plugin="org.eclipse.ui"/>
	</requires>
	
	<runtime>
	<library name="HelloWorldPlugin.jar"/>
	</runtime>
	
	<extension point = "org.eclipse.ui.actionSets">
		<actionSet
			id="HelloWorldPlugin.HelloWorldActionSet"
			label="Hello World"
			visible="true"
			description="The action set for the Eclipse Hello World example">
			
			<menu
				id="HelloWorldPlugin.HelloWorldMenu"
				label="Boojay">
					<separator name="samples"/>
			</menu>
			<action id="HelloWorldPlugin.HelloWorldAction"
				menubarPath="HelloWorldPlugin.HelloWorldMenu/samples"
				toolbarPath="Normal"
				label="Hello World"
				tooltip="Press to see a message"
				icon="icons/helloworld.gif"
				class="HelloWorldPlugin.HelloWorldAction"/>
		</actionSet>
	</extension>
</plugin>